[submodule "limine"]
	path = limine
	url = https://codeberg.org/Limine/Limine.git
	branch = v10.8.0-binary
	ignore = dirty
[submodule "limine-protocol"]
	path = limine-protocol
	url = https://codeberg.org/Limine/limine-protocol.git
	branch = trunk
	ignore = dirty
